.pagination a {
    margin: 0 6px;   /* horizontal spacing */
}

.pagination .current {
    margin: 0 6px;   /* keep spacing consistent */
    font-weight: bold;
}

#menu .nav-link {
    color: #adb5bd;
}

#menu .nav-link:hover {
    color: #ffffff;
}
